
#for $inn,$graph in $re.items()
#set $node=$graph['node']
#set $edge=$graph['edge']
#set $func='switch'+str($inn)
#attr $token='token'
$func={}
#for $k,$v in $node.items()
def case$getVar('theVariable',$k)($token):
    way={}
    #for $n,$to in $edge[$k].items()
    way['$to['c']']=$n
    #end for
    if way.has_key(token):
        return way[token]
    else:
        #if $v.has_key('e')
        return -1206
        #else
        return -1
        #end if
$getVar('theVariable',$func)[$getVar('theVariable',$k)]=case$getVar('theVariable',$k)
#end for
#end for




